#root {
	margin: 0 auto;
	font-family: 'Nunito Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	padding: 0;
}

/* HEADER */

.header {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #2b3945;
	color: #e6e6e6;
	padding: 2rem 1rem;
	margin: 0;
}

header.light {
	background-color: #fafafa;
	color: #111517;
}

.header--title {
	font-size: 1rem;
	margin-right: auto;
}

.header--mode {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 6px;
	cursor: pointer;
}

.header--mode:hover {
	opacity: 0.8;
}

.mode__img {
	width: 0.65rem;
}

.mode__text {
	font-size: 0.75rem;
	font-weight: 400;
}

/* MAIN */

.main {
	background-color: #1e2933;
	color: #e6e6e6;
}

.main.light {
	background-color: #fafafa;
	color: #111517;
}

/* CARD */

.card-section {
	display: grid;
	grid-template-columns: repeat(auto-fill, 350px);
	gap: 30px;
	justify-content: center;
	align-items: stretch;
}

.card {
	width: 350px;
	margin: 0 auto;
	background-color: #2b3945;
	border-radius: 5px;
	margin: 1.5em auto;
}

.card:hover {
	cursor: pointer;
	opacity: 0.8;
	box-shadow: 2px 2px 2px #111517;
}

.card.light {
	background-color: #fafafa;
	color: #000;
	border: 2px solid #1e2933;
}

.card--img {
	width: 100%;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.card--details {
	padding: 1.8em;
	line-height: 1.8;
}

.card__name {
	font-size: 1.1rem;
	margin-bottom: 1em;
}

.specifics {
	font-size: 0.875rem;
	font-weight: 400;
}

.specifics span {
	opacity: 0.9;
	font-weight: 400;
	letter-spacing: 0.5px;
}

/* DETAIL CONTENT */

.content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2.5rem;
	padding: 2.5em 1em;
}

.content--detail {
	width: 95%;
}

.content--img {
	width: 100%;
}

.content--specifics {
	margin-top: 1.5em;
	line-height: 2.2;
}

.back-btn {
	background-color: #2b3945;
	border: none;
	outline: none;
	font-family: inherit;
	font-size: inherit;
	padding: 0.9em 2em;
	margin: 2.5em;
	border-radius: 8px;
	cursor: pointer;
}

.back-btn:hover {
	opacity: 0.8;
}

.hidden {
	display: none;
}

@media (min-width: 720px) {
	.header {
		padding: 3em 4em;
	}

	.header--title {
		font-size: 1.8rem;
	}

	.header--mode {
		gap: 10px;
	}

	.mode__img {
		width: 0.9rem;
	}

	.mode__text {
		font-size: 1.1rem;
		font-weight: 400;
	}

	.content {
		flex-direction: row;
		padding: 2em;
		gap: 4rem;
	}

	.content--detail {
		width: 45%;
	}

	.content--specifics .specifics {
		font-size: 1.2rem;
	}
}
