#root {
	max-width: 400px;
	margin: 0 auto;
	font-family: 'Nunito Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	padding: 0;
}

/* HEADER */

.header {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #2b3945;
	padding: 2rem 1rem;
	margin: 0;
}

.header--title {
	font-size: 1rem;
	margin-right: auto;
}

.header--mode {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 6px;
}

.mode__img {
	width: 0.65rem;
}

.mode__text {
	font-size: 0.75rem;
	font-weight: 400;
}

/* CARD */

.card {
	width: 280px;
	background-color: #2b3945;
	border-radius: 5px;
	margin: 2.5em auto;
}

.card--img {
	width: 100%;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.card--details {
	padding: 1.8em;
	line-height: 1.8;
}

.card__name {
	font-size: 1.1rem;
	margin-bottom: 1em;
}

.specifics {
	font-size: 0.875rem;
	font-weight: 400;
}

.specifics span {
	color: #fff;
	opacity: 0.9;
	font-weight: 200;
	letter-spacing: 0.5px;
}
